<div class="form_section mt-2">
  <form>
    <!--Tab 1 ---------------------------------------------------->
    <ng-container *ngIf="s3_active==1">
      <div class="form-row">
        <div class="col-md-4">
          <div class="form-group">
            <label>flex01</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>flex02</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>flex03</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>flex04</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>flex05</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>flex06</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>flex07</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>flex08</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>flex09</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>flex10</label>
            <input type="text" class="form-control">
          </div>

        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>flex11</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>flex12</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>flex13</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>flex14</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>flex15</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </ng-container>
    <!--Tab 2---------------------------------------------------------------->
    <ng-container *ngIf="s3_active==2">
      <div class="form-row">

        <div class="col-md-3">
          <div class="form-group">
            <label>Account</label>
            <input type="text" class="form-control">
            <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <input disabled type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Account</label>
            <input type="text" class="form-control">
            <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <input disabled type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Division</label>
            <input type="text" class="form-control">
            <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <input disabled type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Department</label>
            <input type="text" class="form-control">
            <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <input disabled type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Analysis1</label>
            <input type="text" class="form-control">
            <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <input disabled type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Analysis2</label>
            <input type="text" class="form-control">
            <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <input disabled type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Activity1</label>
            <input type="text" class="form-control">
            <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <input disabled type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Activity2</label>
            <input type="text" class="form-control">
            <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <input disabled type="text" class="form-control">
          </div>
        </div>
      </div>

    </ng-container>
    <!--Tab 3---------------------------------------------------------------->
    <ng-container *ngIf="s3_active==3">
      <div class="form-row">

        <div class="col-md-2">
          <div class="form-group">
            <label>Seq</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Currenct</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Exchange Rate</label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-6"></div>

        <div class="col-md-2">
          <div class="form-group">
            <label>Dr Tran Curr</label>
            <input type="date" class="form-control">
            <img src="assets/icons/dateicon.svg" class="inputIcons daterpicker-icon" alt="">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>Dr Base Curr</label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>Cr Tran Curr</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6"></div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Annotation</label>
            <textarea type="text" class="form-control"></textarea>
          </div>
        </div>


      </div>
    </ng-container>

  </form>
</div>
