@import "src/app/scss/variables.scss";
@import "src/app/scss/mixins.scss";

.header {
  background: $gray;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 994;
  box-shadow: 3px 0px 6px $shadow;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1200px) {
    flex-direction: column;
    height: 100px;
  }

  .toggle-and-logo-container {
    mat-icon {
      display: none;
    }
    @media (max-width: 1200px) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;

      mat-icon {
        display: inline-flex;
        color: $blue;
        font-size: 25px;
        cursor: pointer;
      }
    }
  }

  .company_name {
    min-width: 300px;
    font-size: 18px;
    background-color: #255aa9;
    color: #fff;
    margin: auto;
    display: inline-block;
    border-radius: 0px 0px 100px 100px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 45%;

    @media (max-width: 1200px) {
      position: relative;
      left: auto;
      margin-top: 8px;
    }
  }
  .user_img {
    width: 37px;
    height: 37px;

    @media (max-width: 1200px) {
      display: none;
    }
  }
}
