<div class="form_section mt-2">
  <div class="form-row">
    <div class="col-md-6">
      <form>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Code</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-md-8">
            <div class="form-group">
              <label>Short Description</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <textarea rows="2" class="form-control"></textarea>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Address1</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Address2</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Address3</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Base Currency</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-md-8">
            <div class="form-group">
              <input disabled type="text" class="form-control withoutBorder">
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Valid Form</label>
              <input type="date" class="form-control">
              <img src="assets/icons/dateicon.svg" class="inputIcons daterpicker-icon" alt="">
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Valid Upto</label>
              <input type="date" class="form-control">
              <img src="assets/icons/dateicon.svg" class="inputIcons daterpicker-icon" alt="">
            </div>
          </div>
          <div class="col-md-2">
            <label class="checkbox-container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-1">

    </div>
    <div class="logo">
      <span>
        Company Logo
      </span>
    </div>
    <div class="logo">
      <span>
        شعار الشركه
      </span>
    </div>
  </div>
</div>
