<div class="form_section mt-2">
  <div class="form-row">
    <form class="w-100">
      <div class="row">

        <div class="col-md-2">
          <label>Code</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Short Description</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6"></div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Description</label>
            <textarea type="text" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-6"></div>

        <div class="col-md-2">
          <div class="form-group">
            <label>Percentage</label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>Gl Code</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <label class="checkbox-container">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
        </div>

      </div>

    </form>
  </div>
</div>
