<div class="form_section mt-2">
  <div class="form-row">
    <form>

      <div class="row">

        <div class="col-md-6">
          <div class="row row-fix-minuis-margin">
            <div class="col-md-4">
              <div class="form-group">
                <label>Code</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label>Short Description</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Incharge</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group h-100">
            <label>Description</label>
            <textarea type="text" class="form-control description-textarea"></textarea>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Address 1 </label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Address 2 </label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Address 3 </label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <label class="checkbox-container">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </form>

  </div>
</div>
