@import "src/app/scss/variables.scss";
@import "src/app/scss/mixins.scss";

.description-textarea {
  height: calc(100% - 15px);
}

.row-fix-minuis-margin {
  margin-left: -8px;
  margin-right: -8px;
}

@include checkbox();
