<div class="form_section mt-2">
  <div class="form-row">
    <div class="col-md-6">
      <form>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Code</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label>Short Description</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Short Description</label>
              <textarea rows="2" class="form-control"></textarea>
            </div>
          </div>
          <span class="test">Active</span>
          <div class="col-md-4">
            <label class="checkbox-container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </div>
          <br>
        </div>
      </form>
    </div>
  </div>
</div>
