<div class="form_section mt-2">
    <div class="form-row">
      <form class="w-100">

        <div class="form_section mt-2" *ngIf="activeForm==1">
            <div class="form-row">
    
            <div class="col-md-2">
                <div class="form-group">
                <label>Doc ID</label>
                <input type="text" class="form-control">
                <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                <label>Doc#</label>
                <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                <label>Doc Date</label>
                <input type="date" class="form-control">
                <img src="assets/icons/dateicon.svg"  class="inputIcons daterpicker-icon" alt="">
                </div>
            </div>
    
            <div class="col-md-6"></div>
    
            <div class="col-md-2">
                <div class="form-group">
                <label>Putty Cash Box</label>
                <input type="text" class="form-control">
                <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
                </div>
            </div>
    
            <div class="col-md-2">
                <div class="form-group">
                <label>Currency</label>
                <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
                <input type="text" class="form-control">
                </div>
            </div>
    
            <div class="col-md-2">
                <div class="form-group">
                <label>Exchange Rate</label>
                <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6"></div>
    
            <div class="col-md-2">
                <div class="form-group">
                <label>Amount</label>
                <input type="text" class="form-control">
                </div>
            </div>
    
            <div class="col-md-10"></div>
    
            <div class="col-md-6">
                <div class="form-group">
                <label>Annotation</label>
                <textarea type="text" class="form-control"></textarea>
                </div>
            </div>
    
    
            </div>
        </div>


        <div class="form_section mt-2" *ngIf="activeForm==2">
            <div class="form-row">

            <div class="col-md-4">

                <div class="form-group">
                <label>Flex 01</label>
                <input type="text" class="form-control">
                </div>

                <div class="form-group">
                <label>Flex 02</label>
                <input type="text" class="form-control">
                </div>

                <div class="form-group">
                <label>Flex 03</label>
                <input type="text" class="form-control">
                </div>
                <div class="form-group">
                <label>Flex 04</label>
                <input type="text" class="form-control">
                </div>
                <div class="form-group">
                <label>Flex 05</label>
                <input type="text" class="form-control">
                </div>

            </div>


            <div class="col-md-4">

                <div class="form-group">
                <label>Flex 06</label>
                <input type="text" class="form-control">
                </div>

                <div class="form-group">
                <label>Flex 07</label>
                <input type="text" class="form-control">
                </div>

                <div class="form-group">
                <label>Flex 08</label>
                <input type="text" class="form-control">
                </div>
                <div class="form-group">
                <label>Flex 09</label>
                <input type="text" class="form-control">
                </div>
                <div class="form-group">
                <label>Flex 10</label>
                <input type="text" class="form-control">
                </div>

            </div>


            <div class="col-md-4">

                <div class="form-group">
                <label>Flex 11</label>
                <input type="text" class="form-control">
                </div>

                <div class="form-group">
                <label>Flex 12</label>
                <input type="text" class="form-control">
                </div>

                <div class="form-group">
                <label>Flex 13</label>
                <input type="text" class="form-control">
                </div>
                <div class="form-group">
                <label>Flex 14</label>
                <input type="text" class="form-control">
                </div>
                <div class="form-group">
                <label>Flex 15</label>
                <input type="text" class="form-control">
                </div>

            </div>



            </div>
        </div>
        

      </form>
    </div>
  </div>
  