<div class="form_section mt-2">
    <div class="form-row">
      <form class="w-100">

        <div class="form_section mt-2">
            <div class="form-row">
    
            <div class="col-md-2">
                <div class="form-group">
                <label>Type</label>
                <select class="form-control">
                </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                <label>Contact Person</label>
                <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                <label>Designation</label>
                <input type="text" class="form-control">
                </div>
            </div>
    
            <div class="col-md-6"></div>
    
            <div class="col-md-2">
                <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                <label>Extension</label>
                <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6"></div>

            <div class="col-md-3">
                <div class="form-group">
                <label>Address 1</label>
                <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                <label>Address 1</label>
                <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6"></div>

            <div class="col-md-3">
                <div class="form-group">
                <label>Address 3</label>
                <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-1">
                <label class="checkbox-container">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
            </div>

            </div>
        </div>
       
      </form>
    </div>
</div>