@import "src/app/scss/variables.scss";
@import "src/app/scss/mixins.scss";

.footer {
  background: $gray;
  height: 33px;
  width: calc(100% - 520px);
  margin: auto;
  transition-duration: 1s;

  @media (max-width: 1200px) {
    width: 100%;
  }
}
