<div class="form_section mt-2">
    <div class="form-row">
      <form class="w-100">

        <div class="form_section mt-2" *ngIf="activeForm==1">
            <div class="form-row">
    
            <div class="col-md-2">
                <div class="form-group">
                <label>Seq</label>
                <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                <label>Currency</label>
                <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                <label>Exchange Rate</label>
                <input type="text" class="form-control">
                </div>
            </div>
    
            <div class="col-md-6"></div>
    
            <div class="col-md-2">
                <div class="form-group">
                <label>Amount BC</label>
                <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                <label>Amount BC</label>
                <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-2">
                <label class="checkbox-container">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>

            <div class="col-md-6"></div>
    
            <div class="col-md-6">
                <div class="form-group">
                <label>Annotation</label>
                <textarea type="text" class="form-control"></textarea>
                </div>
            </div>
    
    
            </div>
        </div>

        <div class="form_section mt-2"*ngIf="activeForm==2">
            <form>
            <div class="form-row">
    
                <div class="col-md-3">
                <div class="form-group">
                    <label>Account</label>
                    <input type="text" class="form-control">
                    <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
                </div>
                </div>
    
                <div class="col-md-3">
                <div class="form-group">
                    <input disabled type="text" class="form-control">
                </div>
                </div>
    
                <div class="col-md-3">
                <div class="form-group">
                    <label>SubAccount</label>
                    <input type="text" class="form-control">
                    <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
                </div>
                </div>
    
                <div class="col-md-3">
                <div class="form-group">
                    <input disabled type="text" class="form-control">
                </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                    <label>Division</label>
                    <input type="text" class="form-control">
                    <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
                    </div>
                </div>
        
                <div class="col-md-3">
                    <div class="form-group">
                    <input disabled type="text" class="form-control">
                    </div>
                </div>
        
                <div class="col-md-3">
                    <div class="form-group">
                    <label>Department</label>
                    <input type="text" class="form-control">
                    <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
                    </div>
                </div>
        
                <div class="col-md-3">
                    <div class="form-group">
                    <input disabled type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                    <label>Analysis1</label>
                    <input type="text" class="form-control">
                    <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
                    </div>
                </div>
        
                <div class="col-md-3">
                    <div class="form-group">
                    <input disabled type="text" class="form-control">
                    </div>
                </div>
        
                <div class="col-md-3">
                    <div class="form-group">
                    <label>Analysis2</label>
                    <input type="text" class="form-control">
                    <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
                    </div>
                </div>
        
                <div class="col-md-3">
                    <div class="form-group">
                    <input disabled type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                    <label>Activity1</label>
                    <input type="text" class="form-control">
                    <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
                    </div>
                </div>
        
                <div class="col-md-3">
                    <div class="form-group">
                    <input disabled type="text" class="form-control">
                    </div>
                </div>
        
                <div class="col-md-3">
                    <div class="form-group">
                    <label>Activity2</label>
                    <input type="text" class="form-control">
                    <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
                    </div>
                </div>
        
                <div class="col-md-3">
                    <div class="form-group">
                    <input disabled type="text" class="form-control">
                    </div>
                </div>
            </div>
            </form>
        </div>
        
        <div class="form_section mt-2" *ngIf="activeForm==3">
            <div class="form-row">

            <div class="col-md-4">

                <div class="form-group">
                <label>Flex 01</label>
                <input type="text" class="form-control">
                </div>

                <div class="form-group">
                <label>Flex 02</label>
                <input type="text" class="form-control">
                </div>

                <div class="form-group">
                <label>Flex 03</label>
                <input type="text" class="form-control">
                </div>
                <div class="form-group">
                <label>Flex 04</label>
                <input type="text" class="form-control">
                </div>
                <div class="form-group">
                <label>Flex 05</label>
                <input type="text" class="form-control">
                </div>

            </div>


            <div class="col-md-4">

                <div class="form-group">
                <label>Flex 06</label>
                <input type="text" class="form-control">
                </div>

                <div class="form-group">
                <label>Flex 07</label>
                <input type="text" class="form-control">
                </div>

                <div class="form-group">
                <label>Flex 08</label>
                <input type="text" class="form-control">
                </div>
                <div class="form-group">
                <label>Flex 09</label>
                <input type="text" class="form-control">
                </div>
                <div class="form-group">
                <label>Flex 10</label>
                <input type="text" class="form-control">
                </div>

            </div>


            <div class="col-md-4">

                <div class="form-group">
                <label>Flex 11</label>
                <input type="text" class="form-control">
                </div>

                <div class="form-group">
                <label>Flex 12</label>
                <input type="text" class="form-control">
                </div>

                <div class="form-group">
                <label>Flex 13</label>
                <input type="text" class="form-control">
                </div>
                <div class="form-group">
                <label>Flex 14</label>
                <input type="text" class="form-control">
                </div>
                <div class="form-group">
                <label>Flex 15</label>
                <input type="text" class="form-control">
                </div>

            </div>



            </div>
        </div>

      </form>
    </div>
</div>
  