<div class="tasks_wrapper">
  <mat-accordion>
    <mat-expansion-panel class="task_panel" expanded='true' hideToggle="true" (opened)="taskIcon = true"
      (closed)="taskIcon = false">
      <mat-expansion-panel-header #tasksPanel class="task_panel-header" (click)="$event.stopPropagation();">
        <mat-panel-title class="task_mat-expansion-panel-header-title" (click)="$event.stopPropagation();">
          <span (click)="tasksPanel._toggle()">Tasks</span>
          <mat-icon (click)="tasksPanel._toggle()">{{taskIcon  ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
          </mat-icon>
          <div class="options ml-auto">
            <img src="assets/icons/Tasks_Add.svg" alt="img">
            <img src="assets/icons/Tasks_Min.svg" alt="img">
            <img src="assets/icons/Tasks_Check.svg" alt="img">
            <img src="assets/icons/Tasks_Menu.svg" alt="img">
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-accordion>
        <mat-expansion-panel hideToggle="true" (opened)="today = true" (closed)="today = false">
          <mat-expansion-panel-header [class.border-0]="!today">
            <mat-panel-title>
              Today
              <mat-icon>{{today  ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Sos</p>
          <p>Sos</p>
          <p>Sos</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle="true" (opened)="tomorrow = true" (closed)="tomorrow = false">
          <mat-expansion-panel-header [class.border-0]="!tomorrow">
            <mat-panel-title>
              Tomorrow
              <mat-icon>{{tomorrow  ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Sos</p>
          <p>Sos</p>
          <p>Sos</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle="true" (opened)="nextWeek = true" (closed)="nextWeek = false">
          <mat-expansion-panel-header [class.border-0]="!nextWeek">
            <mat-panel-title>
              Next Week
              <mat-icon>{{nextWeek  ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Sos</p>
          <p>Sos</p>
          <p>Sos</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle="true" (opened)="month = true" (closed)="month = false">
          <mat-expansion-panel-header [class.border-0]="!month">
            <mat-panel-title>
              Month
              <mat-icon>{{month  ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Sos</p>
          <p>Sos</p>
          <p>Sos</p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="tasks_wrapper">
  <mat-accordion>
    <mat-expansion-panel class="task_panel" expanded='true' hideToggle="true" (opened)="notesIcon = true"
      (closed)="notesIcon = false">
      <mat-expansion-panel-header #notesPanel class="task_panel-header" (click)="$event.stopPropagation();">
        <mat-panel-title class="task_mat-expansion-panel-header-title" (click)="$event.stopPropagation();">
          <span (click)="notesPanel._toggle()">Notes</span>
          <mat-icon (click)="notesPanel._toggle()">{{notesIcon  ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
          </mat-icon>
          <div class="options ml-auto">
            <img src="assets/icons/Tasks_Add.svg" alt="img">
            <img src="assets/icons/Tasks_Min.svg" alt="img">
            <img src="assets/icons/Tasks_Check.svg" alt="img">
            <img src="assets/icons/Tasks_Menu.svg" alt="img">
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-accordion>
        <mat-expansion-panel hideToggle="true" (opened)="note1 = true" (closed)="note1 = false">
          <mat-expansion-panel-header [class.border-0]="!note1">
            <mat-panel-title>
              Note
              <mat-icon>{{note1  ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Sos</p>
          <p>Sos</p>
          <p>Sos</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle="true" (opened)="note2 = true" (closed)="note2 = false">
          <mat-expansion-panel-header [class.border-0]="!note2">
            <mat-panel-title>
              Notes2
              <mat-icon>{{note2  ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Sos</p>
          <p>Sos</p>
          <p>Sos</p>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-expansion-panel>
  </mat-accordion>
</div>
