
<div class="form_section mt-2">
    <div class="form-row">
      <form class="w-100">

        <div class="form_section mt-2">
            <div class="form-row">
    
            <div class="col-md-2">
                <div class="form-group">
                <label>Code</label>
                <input type="text" class="form-control">
                <img class="inputIcons" src="assets/icons/copyfrom.svg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                <label>Short Name</label>
                <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-5">
                <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-1">
                <label class="checkbox-container">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            
    
    
            </div>
        </div>

      </form>
    </div>
</div>