<div class="form_section mt-2">
  <form>

    <ng-container *ngIf="s3_active==1">
      <div class="form-row">

        <div class="col-md-2">
          <div class="form-group">
            <label>seq #</label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Reference #</label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-6"></div>
        <!-- ================================= -->
        <div class="col-md-2">
          <div class="form-group">
            <label>Reference Date</label>
            <input type="date" class="form-control">
            <img src="assets/icons/dateicon.svg" class="inputIcons daterpicker-icon" alt="">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>Currency</label>
            <input type="text" class="form-control">
          </div>
        </div>


        <div class="col-md-2">
          <div class="form-group">
            <label>Exchange rate</label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-6"></div>
        <!-- ================================= -->
        <div class="col-md-2">
          <div class="form-group">
            <label>Dr Tran Curr</label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>Dr Base Curr</label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>Cr Tran Curr</label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-6"></div>
        <!-- ================================= -->
        <div class="col-md-6">
          <div class="form-group">
            <label>Annotation</label>
            <textarea type="text" class="form-control"></textarea>
          </div>
        </div>

        <!-- 
        

          

            <div class="col-md-6">
              <div class="form-group">
                <label>Reference Date</label>
                <input type="date" class="form-control">
                <img src="assets/icons/dateicon.svg" class="inputIcons daterpicker-icon" alt="">
              </div>
            </div>


            <div class="col-md-2">
              <div class="form-group">
                <label class="small-left-label">currency</label>
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="small-left-label">Ex Rate</label>
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="small-left-label">Dr Tran Curr</label>
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="small-left-label">Dr Base Curr</label>
                <input type="text" class="form-control">
              </div>
            </div>


            <div class="col-md-2">
              <div class="form-group">
                <label class="small-left-label">cr Tran Curr</label>
                <input type="text" class="form-control">
              </div>
            </div>



            <div class="col-md-2">
              <div class="form-group">
                <label class="small-left-label">cr Base Curr</label>
                <input type="text" class="form-control">
              </div>
            </div>




          </div>


        </div>
        <div class="col-md-6">

          <div class="form-group">
            <label>Annotation</label>
            <textarea type="text" class="form-control"></textarea>
          </div>
        </div> -->


      </div>
    </ng-container>

    <ng-container *ngIf="s3_active==2">
      <div class="form-row">

        <div class="col-md-4">

          <div class="form-group">
            <label>Flex 01</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>Flex 02</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>Flex 03</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Flex 04</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Flex 05</label>
            <input type="text" class="form-control">
          </div>

        </div>


        <div class="col-md-4">

          <div class="form-group">
            <label>Flex 06</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>Flex 07</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>Flex 08</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Flex 09</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Flex 10</label>
            <input type="text" class="form-control">
          </div>

        </div>


        <div class="col-md-4">

          <div class="form-group">
            <label>Flex 11</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>Flex 12</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>Flex 13</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Flex 14</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Flex 15</label>
            <input type="text" class="form-control">
          </div>

        </div>



      </div>

    </ng-container>

    <ng-container *ngIf="s3_active==3">
      <div class="form-row">

        <div class="col-md-4">

          <div class="form-group">
            <label>Flex 01</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>Flex 02</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>Flex 03</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Flex 04</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Flex 05</label>
            <input type="text" class="form-control">
          </div>

        </div>


        <div class="col-md-4">

          <div class="form-group">
            <label>Flex 06</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>Flex 07</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>Flex 08</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Flex 09</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Flex 10</label>
            <input type="text" class="form-control">
          </div>

        </div>


        <div class="col-md-4">

          <div class="form-group">
            <label>Flex 11</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>Flex 12</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>Flex 13</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Flex 14</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Flex 15</label>
            <input type="text" class="form-control">
          </div>

        </div>



      </div>

    </ng-container>


  </form>
</div>
