@import "src/app/scss/variables.scss";
@import "src/app/scss/mixins.scss";

.mat-expanded {
  .mat-expansion-panel-header-title {
    padding-bottom: 10px;
    border-bottom: 2px solid $blue;
  }
}

@include checkbox();