<div class="form_section p-2">
  <div class="form-row">
    <!-- ------------------------------ 1 -->
    <div class="col-md-1">
      <div class="form-group">

        <select id="logic1" class="form-control withoutBorder" disabled>
          <option value="0"></option>
          <option value="1">And</option>
          <option value="2">Or</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Column 1</label>
        <select id="column1" class="form-control">
          <option value="UserId">User Id</option>
          <option value="Title">Title</option>
          <option value="FirstName">First Name</option>
          <option value="LastName">Last Name</option>
          <option value="UserName">User Name</option>
          <option value="Email">Email</option>
          <option value="JobType">Job Type</option>
          <option value="UserId">User Id</option>
          <option value="UserId">User Id</option>
          <option value="UserId">User Id</option>
          <option value="UserId">User Id</option>
          <option value="UserId">User Id</option>
          <option value="UserId">User Id</option>
          <option value="UserId">User Id</option>
          <option value="UserId">User Id</option>
          <option value="UserId">User Id</option>
          <option value="UserId">User Id</option>
          <option value="UserId">User Id</option>
          <option value="UserId">User Id</option>
          <option value="UserId">User Id</option>
          <option value="UserId">User Id</option>
          <option value="UserId">User Id</option>


        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <select id="keyword1" class="form-control">
          <option value="7">Less than</option>
          <option value="8">Less than or equal</option>

          <option value="5">Greater than</option>
          <option value="6">Greater than or equal</option>

          <option value="0">Equal</option>
          <option value="4">Not equal</option>

          <option value="1">Contain</option>
          <option value="9">Doesn't contain</option>

          <option value="2">Begin with</option>
          <option value="10">Doesn't begin with</option>

          <option value="3">End with</option>
          <option value="11">Doesn't End With</option>

        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Value</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-5"></div>
    <!-- ------------------------------ 2 -->
    <div class="col-md-1">
      <div class="form-group">
        <label>logic</label>
        <select id="logic2" class="form-control">
          <option value="0">And</option>
          <option value="1">Or</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Column 2</label>
        <select id="column2" class="form-control">
          <option value="column1-opt1">option 1</option>
          <option value="column1-opt1">option 2</option>
          <option value="column1-opt1">option 3</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <select id="keyword2" class="form-control">
          <option value="7">Less than</option>
          <option value="8">Less than or equal</option>

          <option value="5">Greater than</option>
          <option value="6">Greater than or equal</option>

          <option value="0">Equal</option>
          <option value="4">Not equal</option>

          <option value="1">Contain</option>
          <option value="9">Doesn't contain</option>

          <option value="2">Begin with</option>
          <option value="10">Doesn't begin with</option>

          <option value="3">End with</option>
          <option value="11">Doesn't End With</option>

        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Value</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-5"></div>

    <!-- ------------------------------ 3 -->
    <div class="col-md-1">
      <div class="form-group">
        <label>logic</label>
        <select id="logic3" class="form-control">
          <option value="0">And</option>
          <option value="1">Or</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Column 3</label>
        <select id="column3" class="form-control">
          <option value="column1-opt1">option 1</option>
          <option value="column1-opt1">option 2</option>
          <option value="column1-opt1">option 3</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <select id="keyword3" class="form-control">
          <option value="7">Less than</option>
          <option value="8">Less than or equal</option>

          <option value="5">Greater than</option>
          <option value="6">Greater than or equal</option>

          <option value="0">Equal</option>
          <option value="4">Not equal</option>

          <option value="1">Contain</option>
          <option value="9">Doesn't contain</option>

          <option value="2">Begin with</option>
          <option value="10">Doesn't begin with</option>

          <option value="3">End with</option>
          <option value="11">Doesn't End With</option>

        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Value</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-5"></div>

    <!-- ------------------------------ 4 -->
    <div class="col-md-1">
      <div class="form-group">
        <label>logic</label>
        <select id="logic4" class="form-control">
          <option value="0">And</option>
          <option value="1">Or</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Column 4</label>
        <select id="column4" class="form-control">
          <option value="column1-opt1">option 1</option>
          <option value="column1-opt1">option 2</option>
          <option value="column1-opt1">option 3</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <select id="keyword4" class="form-control">
          <option value="7">Less than</option>
          <option value="8">Less than or equal</option>

          <option value="5">Greater than</option>
          <option value="6">Greater than or equal</option>

          <option value="0">Equal</option>
          <option value="4">Not equal</option>

          <option value="1">Contain</option>
          <option value="9">Doesn't contain</option>

          <option value="2">Begin with</option>
          <option value="10">Doesn't begin with</option>

          <option value="3">End with</option>
          <option value="11">Doesn't End With</option>

        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Value</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-5"></div>

    <!-- ------------------------------ 4 -->
    <div class="col-md-1">
      <div class="form-group">
        <label>logic</label>
        <select id="logic5" class="form-control">
          <option value="0">And</option>
          <option value="1">Or</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Column 5</label>
        <select id="column5" class="form-control">
          <option value="column1-opt1">option 1</option>
          <option value="column1-opt1">option 2</option>
          <option value="column1-opt1">option 3</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <select id="keyword5" class="form-control">
          <option value="7">Less than</option>
          <option value="8">Less than or equal</option>

          <option value="5">Greater than</option>
          <option value="6">Greater than or equal</option>

          <option value="0">Equal</option>
          <option value="4">Not equal</option>

          <option value="1">Contain</option>
          <option value="9">Doesn't contain</option>

          <option value="2">Begin with</option>
          <option value="10">Doesn't begin with</option>

          <option value="3">End with</option>
          <option value="11">Doesn't End With</option>

        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Value</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-5"></div>

  </div>
</div>
